@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

body {
  font-family: "NanumSquare", sans-serif;
}
.normal {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.bolder {
  font-weight: 800;
}
.light {
  font-weight: 300;
}

:root {
  --main-color: #fd9f28;
  --dark-color: #2d2d2d;
  --light-gray-color: #f1f1f1;
  --gray-color: #989898;
  --white-color: #fff;
}

.auth-container {
  box-sizing: border-box;

  position: absolute;
  width: 454px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 66px;

  background: var(--white-color);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

.redirect {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  border: none;
}

a {
  text-decoration: none;
}
